<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.kola.moneypal">

    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/icon_money_pal_logo"
            android:label="@string/app_name"
            android:roundIcon="@drawable/icon_money_pal_logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".PayementActivity">
  <!--          <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".DetailsObjectiveGroup"/>-->
        </activity>
        <activity android:name=".intro_slider.MainScreen">
        </activity>
        <activity android:name=".intro_slider.FirtsSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".mes_exemple.PieadCardActivity">
        </activity>
        <activity android:name=".DetailsObjectiveGroup">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity"/>
        </activity>
        <activity android:name=".mes_exemple.TestRemoteConfig">
        </activity>
        <activity android:name=".DetailsTransactonActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity"/>
        </activity>
        <activity android:name=".authentification.UserprofileActivitu">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity"/>
        </activity>
        <activity
                android:name=".authentification.SplashActivity"
                android:theme="@style/LoginTheme">
        </activity>
        <activity android:name=".authentification.SingInActivity">
        </activity>
        <activity android:name=".mes_exemple.ReadMessageActivity">
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name">
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
        <meta-data
                android:name="com.hover.ApiKey"
                android:value="fde21e57e7a350536109737e3910c57b"/>
    </application>

</manifest>